---
# Grafana:       https://grafana.com/docs/grafana/latest/setup-grafana/installation/
# InfluxDB:      https://portal.influxdata.com/downloads/
# Speedtest CLI: https://www.speedtest.net/apps/cli
- name: Install InfluxDB
  hosts: raspberrypi
  tasks:
  - name: Add InfluxDB apt key
    become: yes
    apt_key: 
      url: https://repos.influxdata.com/influxdata-archive_compat.key
      id: 9D539D90D3328DC7D6C8D3B9D8FF8E1F7DF8B07E
      state: present
      keyring: /etc/apt/trusted.gpg.d/influxdb.gpg
  - name: Add InfluxDB apt repository
    become: yes
    apt_repository: 
      repo: 'deb [signed-by=/etc/apt/trusted.gpg.d/influxdb.gpg] https://repos.influxdata.com/debian stable main' 
      state: present 
      filename: influxdata
  - name: Install InfluxDB apt package
    become: yes
    apt:
      name: influxdb2=2.4.0*
      state: present
      update_cache: yes

- name: Install Grafana
  hosts: raspberrypi
  tasks:
  - name: Add Grafana apt key
    become: yes
    apt_key: 
      url: https://apt.grafana.com/gpg.key
      id: B53AE77BADB630A683046005963FA27710458545
      state: present
      keyring: /usr/share/keyrings/grafana.key
  - name: Add Grafana apt repository
    become: yes
    apt_repository: 
      repo: 'deb [signed-by=/usr/share/keyrings/grafana.key] https://packages.grafana.com/oss/deb stable main' 
      state: present 
      filename: grafana
  - name: Install Grafana apt package
    become: yes
    apt:
      name: grafana=9.2.0
      state: present
      update_cache: yes

- name: Install Speedtest CLI
  hosts: raspberrypi
  tasks:
  - name: Ensure keyrings directory
    become: yes
    ansible.builtin.file:
      path: /etc/apt/keyrings
      state: directory
  - name: Add Speedtest CLI apt key
    become: yes
    apt_key: 
      url: https://packagecloud.io/ookla/speedtest-cli/gpgkey
      id: C525F88FCF3A7E56CE2CF59131EB3981E723ACAA
      state: present
      keyring: /etc/apt/keyrings/ookla_speedtest-cli-archive-keyring.gpg
  - name: Add Speedtest CLI apt repository
    become: yes
    apt_repository: 
      repo: 'deb [signed-by=/etc/apt/keyrings/ookla_speedtest-cli-archive-keyring.gpg] https://packagecloud.io/ookla/speedtest-cli/debian/ bullseye main' 
      state: present 
      filename: ookla_speedtest-cli
  - name: Install Speedtest CLI apt package
    become: yes
    apt:
      name: speedtest=1.2.0*
      state: present
      update_cache: yes

- name: Configure services
  hosts: raspberrypi
  vars:
    influxdb_username: admin
    influxdb_password: password
    influxdb_org: internet_monitor
    influxdb_bucket: speed_tests
  tasks:
  - name: Start InfluxDB
    become: yes
    ansible.builtin.systemd:
      enabled: yes
      state: restarted
      name: influxdb
  - name: Run InfluxDB setup
    become: yes
    ansible.builtin.shell:
      cmd: influx setup -u {{ influxdb_username }} -p {{ influxdb_password }} -o {{ influxdb_org }} -b {{ influxdb_bucket }} -r 0 -f
      creates: /root/.influxdbv2/configs
  - name: Get InfluxDB operator token
    become: yes
    register: token
    command: sed -nr 's/^\s*token\s*=\s*"(.+)"$/\1/p' /root/.influxdbv2/configs
  - name: Set InfluxDB token in grafana-server environment variables
    become: yes
    vars:
      os_environment:
      - key: INFLUXDB_TOKEN
        value : "{{ token.stdout }}"
      - key: INFLUXDB_ORG
        value : "{{ influxdb_org }}"
      - key: INFLUXDB_BUCKET
        value : "{{ influxdb_bucket }}"
    no_log: yes
    with_items: "{{ os_environment }}"
    lineinfile:
      path: /etc/default/grafana-server
      state: present
      regexp: "{{ item.key }}="
      line: "{{ item.key }}={{ item.value }}"
  - name: Copy Grafana provisioning config
    become: yes
    ansible.builtin.copy:
      src: provisioning/
      dest: /etc/grafana/provisioning/
  - name: Copy Grafana dashboards
    become: yes
    ansible.builtin.copy:
      src: dashboards
      dest: /var/lib/grafana/
      owner: grafana
      group: grafana
  - name: Start Grafana
    become: yes
    ansible.builtin.systemd:
      enabled: yes
      state: restarted
      name: grafana-server

- name: Setup speedtest cron job
  hosts: raspberrypi
  vars:
    script_path: /usr/local/sbin/speedtest.py
  tasks:
  - name: Install pip
    become: yes
    apt:
      name: python3-pip_23.0.1*
      state: present
      update_cache: yes
  - name: Install InfluxDB client library
    become: yes
    ansible.builtin.pip:
      name: influxdb-client==1.6.7
  - name: Copy speedtest script
    become: yes
    ansible.builtin.copy:
      src: speedtest.py
      dest: "{{ script_path }}"
  - name: Touch crontab file
    become: yes
    ansible.builtin.file:
      path: /var/spool/cron/crontabs/root
      mode: '0600'
      state: touch
  - name: Setup speedtest cron job
    become: yes
    lineinfile:
      path: /var/spool/cron/crontabs/root
      state: present
      regexp: python {{ script_path }}
      line: "{{ cron }} python {{ script_path }}"
  - name: Restart cron
    become: yes
    ansible.builtin.systemd:
      enabled: yes
      state: restarted
      name: cron
